<h1>{{ 'title' | translate }}</h1>

<ng-container *ngIf="persons.length">
  <div class="card" *ngFor="let person of persons" (click)="loadPerson(person)">
    <p>
      <span class="my-badge">
        {{ person | initials: {whole: true} | uppercase }}
      </span>
      Prénom / Nom : {{ person.firstName }} {{ person.lastName }}
    </p>
  </div>
</ng-container>

<ng-container *ngIf="person && person !== undefined else noPerson;">
  <div class="one-person-card">
    <p>
      <span class="my-badge">
        {{ person | initials | uppercase }}
      </span>
      {{ person.firstName }} {{ person.lastName }}
    </p>    
  </div>
</ng-container>

<ng-template #noPerson>
  Click on a card to load a Person
</ng-template>
