<h1>{{ 'title' | translate }}</h1>

<ng-container *ngIf="persons.length">
  <div class="card" *ngFor="let person of persons" (click)="loadPerson(person)">
    <p>
      <span class="my-badge">
        {{ person | initials: {whole: true} | uppercase }}
      </span>
      Prénom / Nom : {{ person.firstName }} {{ person.lastName }}
    </p>
  </div>
</ng-container>

<ng-container *ngIf="person && person !== undefined else noPerson;">
  <div class="one-person-card">
    <p>
      <span class="my-badge">
        {{ person | initials | uppercase }}
      </span>
      {{ person.firstName }} {{ person.lastName }}
    </p>    
  </div>
</ng-container>

<ng-template #noPerson>
  Click on a card to load a Person
</ng-template>


<!-- Creation form goes here -->
<form [formGroup]="personForm">
  <div class="form-group">
    <input type="text" formControlName="lastName" placeholder="Your name...">
  </div>
  <div class="form-group">
    <input type="text" formControlName="firstName" placeholder="Your firstname...">
  </div>
  <div class="form-group">
    <input type="email" formControlName="email" placeholder="Your email...">
  </div>
  <div class="form-group">
    <input type="email" formControlName="confirmEmail" placeholder="Confirm your email...">
  </div>
  <!--
  <div class="form-group">
    <input [type]="passwordState ? 'password' : 'text'" formControlName="password" placeholder="Choose a password...">
    <span (click)="passwordState = !passwordState">{{ passwordState ? 'Show' : 'Hide' }}</span>
  </div>
  -->
  <div class="form-group">
    <input type="password" formControlName="password" placeholder="Choose password" appShowHidePassword [mode]="'icon'" (isHideMode)="toggleConfirmPassword($event)">
  </div>

  <div [ngClass]="{'form-group': true, 'd-none': !passwordState}">
    <input type="password" formControlName="confirmPassword" placeholder="Confirm your password...">
  </div>

  <button [disabled]="personForm.invalid">Create</button>
</form>
