.card, .one-person-card {
    p {
        span {
            &.my-badge {
                border-radius: 50%;
                color: white;
                padding: 0.75em;
                line-height: 1.75em;
                vertical-align: middle;
            }
        }
    }
}

.d-none {
    display: none;
}

.card {
    p {
        span {
            &.my-badge {
                background-color: rgba(128, 128, 128, 1);
                color: #000;
            }
        }
    }
}

.one-person-card {
    p {
        span {
            &.my-badge {
                background-color: rgb(237, 95, 13);
            }
        }
    }
}